// ## Project pallete
$c-primary = #D13722
$c-primary-light = lighten(#D13722, 10%)
$c-secondary = #23BB67
$c-secondary-dark = #16944F
$c-text = #333333
$c-text-light = #BABABA

// ## Project fonts
$f-primary = 'Satisfy', cursive
$f-secondary = 'Titillium Web', sans-serif

// ## Project settings
$radius =   7px

// ## Media queries
$600 				= 			"only screen and (min-width : 600px)"
$600max     =       "only screen and (max-width : 600px)"

$768 				= 			"only screen and (min-width : 768px)"
$768max     =       "only screen and (max-width : 767px)"

$1000       =       "only screen and (min-width : 1000px)"
$1000max    =       "only screen and (max-width : 1000px)"

$1200     	=       "only screen and (min-width : 1200px)"
$1200max    =       "only screen and (max-width : 1200px)"

$1600      	=       "only screen and (min-width : 1600px)"
$1600max    =       "only screen and (max-width : 1600px)"
$retina     =       "(-webkit-min-device-pixel-ratio : 2), (min-resolution : 192dpi)"
