extends layouts/default

block content
	.kontejner
		h1 manGoWork

		table.tabulka
			tr
				td.formular(colspan="2")
					form(action="")
						input.policko(type="text" placeholder="Tak co jsi celej den dělal?")
						button.buttonek ↵

			tr
				td.mesic(colspan="2") Únor

			tr
				td.den
					span 5.2.
					div pondělí
				td.data Nadace KJ, Lada

			tr
				td.den 5.2.
				td.data Nadace KJ, Lada
			tr
				td.den 5.2.
				td.data Nadace KJ, Lada

			tr
				td.den 5.2.
				td.data Nadace KJ, Lada

			tr
				td.den 5.2.
				td.data Nadace KJ, Lada
			tr
				td.den 5.2.
				td.data Nadace KJ, Lada

			tr
				td.den 5.2.
				td.data Nadace KJ, Lada

			tr
				td.den 5.2.
				td.data Nadace KJ, Lada

